@media screen and (max-width: 768px) {
    .header_slogan{
        color: rgb(247, 9, 175);
    }
}
@media screen and (max-width: 576px) {
    .header_slogan{
        color: rgb(247, 9, 175);
    }
}
@media screen and (max-width: 378px) {
    .container{
        max-width: 378px;
        height: 0 auto;
    }
    .nav-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

